{% extends '@App/layout.html.twig' %}

{% block title %}Product {{ product.id }}{% endblock %}
{% block body %}
   <h3>Show product {{ product.id }}</h3>
   <hr>
   Title: {{ product.title }} <br>
   Price: {{ product.price }} <br>
   Category: {{ product.category.name }} <br>
   Description: {{ product.description }} <br>

{% endblock %}

{% block stylesheets %} {% endblock %}
